.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.500);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn-close {
    position: absolute;
    top: 10%;
    left: 65%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    font-size: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .slider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider .btn-modal {
    width: 70px;
    height: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.modal .imagens {
    position: relative;
    width: 400px;
    height: 400px;
    max-width: 90%;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.imagens li .img {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

.imagens li .img.ativo {
    opacity: 1;
    visibility: visible;
}

.imagens li .img.ativo:hover {
    transform: scale(1.2);
}

.modal .preview-imagens {
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.preview-imagens .thumb {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    opacity: 1;
    border: 3px solid none;
}

.preview-imagens .thumb.active {
    transform: scale(1.2);
    filter: drop-shadow(0 0 50px hsl(26, 100%, 55%));
}

.preview-imagens .thumb img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.modal.hide,
.fade.hide {
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.fade,
.modal {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
    z-index: 999;
}